<div class="nav-scroller bg-white shadow-sm justify-content-around d-flex">
  <nav class="nav nav-underline">
    <%= link_to({ sort: :desc }, class:'nav-link') do %>
      Most Recent
      <span class="badge badge-pill bg-light align-text-bottom"><%= @groups.where(created_at: Date.today.all_day).count %></span>
      <i class="fas fa-sort-amount-up-alt"></i>
    <% end %>
    <%= link_to({ sort: :asc }, class:'nav-link') do %>
      Most Ancient
      <span class="badge badge-pill bg-light align-text-bottom"><%= @groups.count - @groups.where(created_at: Date.today.all_day).count %></span>
      <i class="fas fa-sort-amount-down-alt"></i>
    <% end %>
  </nav>
</div>
<h1 class="text-center mt-3">All Programs & Shows</h1>
<%= link_to "Add new Program", new_group_path, class: 'btn btn-success btn-block' %>
<br>
<hr>
<div class="programs-container">
    <% @groups.each do |group| %>
        <div class="program-single d-flex align-items-center">
            <div class="img-container">
                <% if group.icon.thumb.url %>
                    <%= image_tag group.icon.thumb.url, class: 'img img-fluid', alt: group.name %>
                <% end %>
            </div>
            <div class="text ml-1">
                <p class="h2"><%= group.name %></p>
                <p class="text-muted mb-0"><strong>Created:</strong><%= localize(group.created_at, format: :sample) %></p>
                <p class="text-muted mb-0"><strong>Created by: @</strong><%= group.user.username %></p>
            </div>
        </div>
        <%= link_to "See program", group_path(group), class: 'btn btn-primary_accent btn-block text-light mt-3' %>
        <hr>
    <% end %>
</div>