<h1>GROUPS</h1>
<%= link_to "Add new Program", new_group_path, class: 'btn btn-success' %>
<br>
<hr>
<% @groups.each do |group| %>
    <% if group.icon.thumb.url %>
        <%= image_tag group.icon.thumb.url, class: 'img img-fluid', alt: group.name %>
    <% end %>
    <%= group.name %>
    <%= localize(group.created_at, format: :sample) %>
    <%= link_to "See program", group_path(group), class: 'btn btn-warning' %>
    <hr>
<% end %>