<h2 class="text-center mt-3">Add your favorite program or show</h2>
<%= form_with(model: @group, local:true, html: { multipart: true }) do |form| %>
    <% if @group.errors.any? %>
    <div id="error_explanation">
        <ul>
            <% @group.errors.full_messages.each do |message| %>
                <li class="text-danger"><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <div class="form-group field">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group field">
        <%= form.label :icon %>
        <%= form.file_field :icon, class: 'form-control-file' %>
        <%= form.hidden_field :icon_cache %>
    </div>

    <div class="actions">
        <%= form.submit class: 'btn btn-success btn-block'%>
    </div>
<% end %>