<%= form_with(model: record, local: true) do |form| %>
    <% if record.errors.any? %>
    <div id="error_explanation">
        <ul>
            <% record.errors.full_messages.each do |message| %>
                <li class="text-danger"><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <div class="form-group field">
        <%= form.label :name %>
        <%= form.text_field :name ,class: "form-control" %>
    </div>

    <div class="form-group field">
        <%= form.label :minutes %>
        <%= form.number_field :minutes, class: "form-control" %>
    </div>

    <div class="input-group mb-3 field">
        <div class="input-group-prepend">
            <%= form.label :group_id, class:'input-group-text' %>
        </div>
        <%= form.collection_select :group_id, Group.all, :id, :name, { prompt: true }, { class: 'custom-select' } %>
    </div>

    <div class="actions">
        <%= form.submit class: 'btn btn-success btn-block' %>
    </div>
<% end %>