<div class="nav-scroller bg-white shadow-sm justify-content-around d-flex">
  <nav class="nav nav-underline">
    <%= link_to({ sort: :desc }, class:'nav-link') do %>
        Most Recent
        <span class="badge badge-pill bg-light align-text-bottom"><%= records.where(created_at: Date.today.all_day).count %></span>
        <i class="fas fa-sort-amount-up-alt"></i>
    <% end %>
    <%= link_to({ sort: :asc }, class:'nav-link') do %>
        Most Ancient
        <span class="badge badge-pill bg-light align-text-bottom"><%= records.count - records.where(created_at: Date.today.all_day).count %></span>
        <i class="fas fa-sort-amount-down-alt"></i>
    <% end %>
  </nav>
</div>

<h2>All Records</h2>
<%= link_to "Add new Record", new_record_path, class: 'btn btn-success btn-block' %>
<hr>
<h4 class="d-flex justify-content-end text-muted">Total minutes:&nbsp;<strong class="text-info"><%= records.sum(:minutes) %></strong></h4>
<hr>
<% if external %>
    <div class="external-container">
<% else %>
    <div class="no-external-container">
<% end %>
<% records.each do |record| %>
    <div class="record-container d-flex align-items-center d-flex justify-content-between">
        <div class="img-record">
            <% unless external %>
                <% if record.group.icon.url%>
                    <%= image_tag record.group.icon.thumb.url, class: 'img img-fluid' %>
                <% end %>
            <% end %>
        </div>
        <div class="text-record">
            <p class="h6 m-0"><%= record.name %></p>
            <p class="h6 m-0 text-muted"><%= current_user.name %></p>
            <p class="h6 m-0 text-muted">@<%= current_user.username %></p>
            <p class="h6 m-0"><%= localize(record.created_at, format: :sample) %></p>
        </div>
        <div class="minutes-record text-right">
            <h5 class="text-muted m-0"><strong class="text-info"><%= record.minutes %></strong> minutes.</h5>
        </div>
            <!--<%= link_to 'Delete', record, method: 'delete', class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>-->
    </div>
    <%= link_to "See Details", record_path(record), class: 'btn btn-primary_accent btn-block mt-3' %>
    <hr>
<% end %>
</div>