<nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-dark">
  <div class="w-100 d-flex justify-content-between">
      <div>
          <button class="navbar-toggler p-0 border-0" type="button" onclick="mytoggler()">
            <span class="navbar-toggler-icon"></span>
          </button>
      </div>
      <div>
        <a class="navbar-brand mr-auto mr-lg-0" href="#">Lakastapp!</a>
      </div>
      <div>
      <i class="fas fa-search text-white fa-2x"></i>
      </div>
  </div>

  <div class="navbar-collapse offcanvas-collapse" id="navbarDefault">
    <ul class="navbar-nav mr-auto">
    <% if logged_in? %>
      <li class="nav-item active">
        <a class="nav-link" href="<%= profile_path(current_user) %>">My profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">All my records</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">All my external records</a>
      </li>
      <li class="nav-item">
        <%= link_to "All Groups", groups_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Log Out", logout_path, class: 'nav-link', method: 'delete' %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Register", registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Log In', login_path, class: "nav-link" %>
      </li>
    <% end %>
    </ul>
  </div>
</nav>

<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link" href="#">
      Most Recent
      <span class="badge badge-pill bg-light align-text-bottom">27</span>
    </a>
    <a class="nav-link" href="#">
      Most Ancient
      <span class="badge badge-pill bg-light align-text-bottom">27</span>
    </a>
  </nav>
</div>